\sy\stem/\sy\stem/apex/com.android.vndk.current.apex
product/priv-app/Gm\sCore/Gm\sCore.apk
product/priv-app/MotCamera2/MotCamera2.apk
product/priv-app/Velvet/Velvet.apk
product/app/WebViewGoogle/WebViewGoogle.apk
